/*This is the main style sheet for the web-app that extends bootstrap stylesheet*/
body {
	margin: 0;
}

.container {
	margin: auto;
	width: 95%;
}

.search {
	margin-bottom: 0px;
}

.topics {
	display: none;
}

.searchResults {
	display: none;
}

.result .btn {
	float: right;
}

.topic:hover {
	background-color: #047195;
}

#topicImage{
	width: 300px;
	heigth: 400px;
}



.panel.panel-default.userInfo {
	padding-left: 0px;
	padding-right: 0px;
}

.panel.panel-default.userinfo {
	
}

#notificationTab span{
	float: right;
	cursor: pointer;
}

.panel.panel-default.notifications {
	padding-left: 0px;
	padding-right: 0px;
	float: right;
}


#friendTab {
	margin: auto;
}

#friendTab:HOVER, #notificationTab:HOVER{
	background: rgba(0, 0, 0, 0.08) none repeat scroll 0% 0%;
	cursor: default;
}

.footer {
	border-top: 0.5px dotted brown;
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 0;
	clear: both;
}