/*Log in stylesheet*/

/*colo scheme*/
/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13p0z0kvlLXfiVanEQ6GVu0F9iE */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #0CA1D2 }	/* Main Primary color */
.color-primary-1 { color: #80D2EE }
.color-primary-2 { color: #40B7DE }
.color-primary-3 { color: #047195 }
.color-primary-4 { color: #02465D }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 12,161,210,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(128,210,238,1) }
.rgba-primary-2 { color: rgba( 64,183,222,1) }
.rgba-primary-3 { color: rgba(  4,113,149,1) }
.rgba-primary-4 { color: rgba(  2, 70, 93,1) }




body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
}

.container {
  margin: 50px auto;
  width: 640px;
}
 
.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}

.login p.submit {
  text-align: right;
}
 

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}
 
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.login:before {
  content: '';	
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
 
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background:-moz-linear-gradient(top, whiteffd, #eef2f5);
  background: -o-linear-gradient(top, whiteffd, #eef2f5);
  background: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
 
.login p {
  margin: 20px 0 0;
}
 
.login p:first-child {
  margin-top: 0;
}
 
.login input[type=text], .login input[type=password] {
  width: 278px;
}
 
.login input[type=submit] {
  right:120px;
}



/*Logo div*/

.logo{
position: relative;
  left: 194px;

  margin: auto;
  display: inline-block;
}
.logo img{
height:auto;
width: 250px;
margin:auto;
}

