/*This is the main style sheet for the web-app*/

	/* Main Primary color */

.color-primary-0 { color: #0CA1D2 }
.color-primary-1 { color: #80D2EE }
.color-primary-2 { color: #40B7DE }
.color-primary-3 { color: #047195 }
.color-primary-4 { color: #02465D }


/* As RGBa codes */

	/* Main Primary color */


.rgba-primary-0 { color: rgba( 12,161,210,1) }
.rgba-primary-1 { color: rgba(128,210,238,1) }
.rgba-primary-2 { color: rgba( 64,183,222,1) }
.rgba-primary-3 { color: rgba(  4,113,149,1) }
.rgba-primary-4 { color: rgba(  2, 70, 93,1) }


body{
	margin:0;

}

.container {
  margin: auto;
  width: 95%;
}

.currentUser{
	margin: 0;
	font-family:"Comic Sans MS", cursive, sans-serif;
	
}
.header {
	background-color:  #0ca3d2;
	margin:none;
	height: 100px;
	width:auto;
}

/*----------------------------Navigtion bar -----------------------------------------*/

.navi {
	width:auto;
	background-color:#76528C;
}

ul {

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}



.navigation_bar li {
    float: left;
	display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#76528C;
    text-align: center;
    padding: 4px;
    text-decoration: none;
	text-transform: uppercase;
	cursor:default;
}

.navigation_bar li:hover{

background-color: #DDCBE8;
	cursor:default;
}

/*
a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#76528C;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #DDCBE8;
}
/*----------------------------Navigtion bar -----------------------------------------*/

.content{

	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	margin: 1px;
	width:74%;
	height:500px;
	float:left;
	position:static;
	display:block;
	background: -webkit-linear-gradient(bot, white, #40B7DE);
	background:-moz-linear-gradient(top, white, #40B7DE);
	background: -o-linear-gradient(top, white, #40B7DE);
	background: linear-gradient(to bottom, white, #40B7DE);
	-webkit-box-shadow: 0 1px whitesmoke;
	box-shadow: 0 1px whitesmoke;

}

.topics{
	margin:auto;
	width: 100%;
	display:none;
}

.topic{
	margin:1px auto;
	with:95%;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	
	background: rgba(0, 0, 0, 0.2);	
}

.topic:hover {
	background-color:#047195;
}

.chat{
	float:right;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;	
	position:relative;
	margin-top:1px;
	margin-bot:1px;
	width:25%;
	height:500px;

	
}

.chat h1{
	margin:auto;	
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #80D2EE;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background: -webkit-linear-gradient(top, whiteffd, #80D2EE);
  background:-moz-linear-gradient(top, whiteffd, #80D2EE);
  background: -o-linear-gradient(top, whiteffd, #80D2EE);
  background: linear-gradient(to bottom, whiteffd, #80D2EE);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

#display{

	margin:1px auto;
	display:block;
	overflow-y:auto;
	with:95%;
	height:70%;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	background: rgba(0, 0, 0, 0.2);	
}
#sentMsg{
	margin:1px;
	paddig:1 px;
	background: white;
	max-width:45%;
	float:right;
	clear:both;
	opacity:0.5;
}

.chat input[type=text]{
	margin:auto;
	width:92%;
	
}


.footer {
	border-top: 0.5px dotted brown;
	width:100%;
	height: 20px;
	clear:both;
}

