/*This is the main style sheet for the web-app that extends bootstrap stylesheet*/
body {
	margin: 0;
}

.container {
	margin: auto;
	width: 95%;
}

.search{
	margin-bottom	: 0px;
}

.topics {
	display: none;
}

.topic {
	margin: 1px auto;
	

}

.topic:hover {
	background-color: #047195;
}

#chat form {
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px;
	margin-bottom: 8px;
}

#chat input[type=text] {
	margin-right: 0px;
	height: 30px;
	width: 70%;
	margin-right: 0px;
	border-right: none;
	border-radius: 0px;
	box-sizing: border-box;
}

#chat input[type=button] {
	margin-left: 0px;
	padding: 0px;
	width: 25%;
	border-radius: 0px;
	left: -3px;
	
	border-left: none;
	border-radius: 0px;
	box-sizing: border-box;
}

#chat {
	float: right;
	position: relative;
	margin-top: 1px;
	margin-bot: 1px;
	display: none;
	padding: 0px;
	height: 300px;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
}

#display {
	margin: 1px auto;
	display: block;
	overflow-y: auto;
	word-wrap: break-down;
	font: 10px arial, sans-serif;
	position: relative;
	height: 85%;
	position: relative;
	scroll:auto;
}

.Msg {
	margin: 1px;
	paddig: 1 px;
	background: white;
	max-width: 45%;
	float: right;
	clear: both;
	opacity: 0.5;
	overflow: hidden;
}

#recvMsg {
	float: left;
}

.panel.panel-default.friendList {
	padding-left: 0px;
	padding-right: 0px;
	float: right;
}

.panel.panel-default.userInfo {
	padding-left: 0px;
	padding-right: 0px;
}

.panel.panel-default.userinfo {
	
}

#friendTab {
	margin: auto;
}

#friendTab:HOVER {
	background: rgba(0, 0, 0, 0.08) none repeat scroll 0% 0%;
	cursor: default;
}

.footer {
	border-top: 0.5px dotted brown;
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 0;
	clear: both;
}